{{ "<!-- Diversity -->" | safeHTML }}
<section id="diversity" {{ if .Site.Params.callforpapers.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.diversity.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
      <div>
        <p>
        satRday is dedicated to providing a harassment-free and inclusive conference experience for all in attendance regardless of, but not limited to, gender, sexual orientation, disabilities, physical attributes, age, ethnicity, social standing, religion or political affiliation.

        We do not tolerate harassment of participants (including organisers and vendors) in any form. Sexual innuendos and imagery are not appropriate for any conference venue, including presentations.
        
        Anyone violating these rules may be given warning or expelled from the conference (without a refund) at the discretion of the conference organisers.
        
        Our code of conduct/anti-harassment policy can be found <a href="https://knowledgebase.satrdays.org/diversity/#code-of-conduct">here</a>.
        </p>
      </div>
    </div>
  </div>
</section>