{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.schedule }}
{{ if eq .talk_details.talk true }}
<div class="modal modal fade" id="portfolioModal{{ .talk_details.modalID }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ .talk_details.title | markdownify }}</h4>
      </div>
      <div class="modal-body">
        <h5 class="text-muted">{{ .talk_details.subtitle | markdownify }}</h5>
        <img class="img-fluid img-centered" src="img/portfolio/{{ .talk_details.img }}" alt="">
        <p>{{ .talk_details.description | markdownify }}</p>
        <ul class="list-inline">
          <li> {{ .speaker.organisation | markdownify}} </li>
          <li> {{ .speaker.role | markdownify }} </li>
        </ul>
        <p class="item-intro"> {{ .speaker.bio | markdownify }}</p>
      </div>
          <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>

</div>
{{ end }}
{{ end }}