{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
      {{ $url := printf "img/%s" .Site.Params.navigation.logo }}
      <img src="{{ $url | absURL }}" class="img-fluid" alt="{{ .Site.Params.navigation.brand }}">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
    <div class="collapse justify-content-end navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}"></a>
        </li>

        {{ range .Site.Menus.prepend }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}">{{ .Name | markdownify }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.eventbrite.enable }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}#eventbrite">{{ with .Site.Params.navigation.eventbrite }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.services.enable }}
          <li class="nav-item">
            <a class="nav-link" href="#services">{{ with .Site.Params.navigation.services }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.portfolio.enable }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}#portfolio">{{ with .Site.Params.navigation.portfolio }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.about.enable }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}#about">{{ with .Site.Params.navigation.about }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.team.enable }}
          <li class="nav-item">
            <a class="page-scroll nav-link " href="{{ .Site.BaseURL }}#team">{{ with .Site.Params.navigation.team }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.contact.enable }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}#contact">{{ with .Site.Params.navigation.contact }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ range .Site.Menus.postpend }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
